<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 목록 화면</title>
</head>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<div class="container mt-4">
    <h1 class="mb-4 text-center"><span th:text="${title}">타이틀</span></h1>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-primary" type="button" onclick="createMenu()">메뉴 등록</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light text-center">
        <tr>
            <th>번호</th>
            <th>메뉴ID</th>
            <th>메뉴명</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <!-- 데이터 반복 -->
        <tr th:each="menu : ${menuList}"
            th:attr="data-menu-id=${menu.id}, data-menu-menuId=${menu.menuId}" style="cursor: pointer;">
            <td th:text="${menu.id}"><input type="hidden" th:value="${menu.id}"></td>
            <td th:text="${menu.menuId}"></td>
            <td th:text="${menu.menuName}"></td>
            <td>
                <button class="btn btn-sm btn-primary" onclick="save('menuDetailPage', this)">상세등록</button>
                <button class="btn btn-sm btn-primary" onclick="save('updateMenu', this)">수정</button>
                <button class="btn btn-sm btn-danger" onclick="save('deleteMenu', this)">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function createMenu() {
        location.href = '/menu/create_menu.page';
    }

    function save(mode, button) {
        const tr = button.closest('tr'); // 클릭된 버튼의 상위 tr을 찾음
        const menuId = tr.getAttribute('data-menu-menuId'); // 해당 tr의 data-menu-id 가져오기
        const id = tr.getAttribute('data-menu-id');

        if (mode === 'menuDetailPage') {
            location.href = `/menu/detail_menu_list.page/`+menuId;
        } else if (mode === 'updateMenu') {
            location.href = `/menu/create_menu.page/`+id + '/update';
        } else {
            if (!confirm("정말 삭제하시겠습니까?")) return;

            $.ajax({
                url: `/menu/delete_menu/`+id,
                type: 'DELETE',
                contentType: 'application/json',
                success: function(result) {
                    if (result.code === "Y") {
                        alert("삭제가 완료되었습니다.");
                        location.href = "/menu/menu_list.page"; // 성공 시 리다이렉트
                    } else {
                        alert("삭제에 실패했습니다. 다시 시도해주세요.");
                    }
                },
                error: function() {
                    alert("삭제 중 오류가 발생했습니다.");
                }
            });
        }
    }
</script>
</html>