<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>권한 목록 화면</title>
</head>
<body>
<th:block th:replace="/fragments/header"></th:block>
<div class="container mt-4">
    <h1 class="mb-4 text-center"><span th:text="${title}">타이틀</span></h1>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-primary" type="button" onclick="createRole()">권한 등록</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light text-center">
        <tr>
            <th>번호</th>
            <th>권한ID</th>
            <th>권한명</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <!-- 데이터 반복 -->
        <tr th:each="role : ${roleList}"
            th:attr="data-role-id=${role.id}, data-role-roleId=${role.roleId}" style="cursor: pointer;">
            <td th:text="${role.id}"><input type="hidden" th:value="${role.id}"></td>
            <td th:text="${role.roleId}"></td>
            <td th:text="${role.roleName}"></td>
            <td>
                <button class="btn btn-sm btn-primary" onclick="save('roleMenuRelPage', this)">메뉴맵핑등록</button>
                <button class="btn btn-sm btn-primary" onclick="save('updateRole', this)">수정</button>
                <button class="btn btn-sm btn-danger" onclick="save('deleteRole', this)">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function createRole() {
        location.href = '/role/create_role.page';
    }

    function save(mode, button) {
        const tr = button.closest('tr'); // 클릭된 버튼의 상위 tr을 찾음
        const roleId = tr.getAttribute('data-role-roleId'); // 해당 tr의 data-menu-id 가져오기
        const id = tr.getAttribute('data-role-id');

        if (mode === 'roleMenuRelPage') {
            location.href = `/role/role_menu_rel.page/`+ roleId;
        } else if (mode === 'updateRole') {
            location.href = `/role/create_role.page/`+id + '/update';
        } else {
            if (!confirm("정말 삭제하시겠습니까?")) return;

            $.ajax({
                url: `/menu/delete_menu/`+id,
                type: 'DELETE',
                contentType: 'application/json',
                success: function(result) {
                    if (result.code === "Y") {
                        alert("삭제가 완료되었습니다.");
                        location.href = "/menu/menu_list.page"; // 성공 시 리다이렉트
                    } else {
                        alert("삭제에 실패했습니다. 다시 시도해주세요.");
                    }
                },
                error: function() {
                    alert("삭제 중 오류가 발생했습니다.");
                }
            });
        }
    }
</script>
</html>